@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body {
    font-family:'Roboto', 'Arial Narrow', Arial, sans-serif;
    background-color: #ddd;
    padding: 50px;
    color: #777;
}

.dark {
    background-color: black;
    color: white;
}

.light {
    background-color: white;
    color: black;
}

div.center-both {
    margin: auto 50%;
}

.figma-container {
    background-color: #eee;
    color: black;
    max-width: 1440px;
}

button {
    padding: 10px 40px;
    border: 1px solid black;
    border-radius: 4px;
}

a {
    color: black;
    text-decoration: none;
}

a span.carrot {
    font-size: xx-small;
    font-weight: 700;
    vertical-align: middle;
}
/************************************/
/* Buttons and Cards */
#buttons-and-cards {
    padding-bottom: 40px;
}

#buttons-and-cards .separator {
    padding-top: 40px;
    padding-left: 40px;
    display: flex;
    gap: 40px;
}

.card-blog {
    height: 436px;
    width: 270px;
    background: #fff;
}

.card-blog .media {
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-blog .rec3 {
    height: 64px;
    width: 64px;
    border-radius: 4px;
}

.card-blog .media-content {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    height: 166px;
}

.card-blog .media-content a {
    margin-top: auto;
    padding-bottom: 20px;
}

.card-pricing {
    height: 420px;
    width: 270px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-pricing .icon {
    height: 54px;
    width: 54px;
    border-radius: 50%;
}

.card-pricing .title {
    margin: 10px 0;
}
.card-pricing .subtitle {
   margin-bottom: 30px;
}
.card-pricing .feature {
    color: #888;
    margin-bottom: 10px;
}

.card-pricing button {
    margin-top: 100px;
}

.card-square {
    height: 502px;
    width: 370px;
}

.card-square .media {
    height: 370px;
}

.card-square .title {
    margin: 10px 0;
}
.card-square .subtitle {
   margin-bottom: 30px;
   font-weight: 400;
   font-size: 1em;
}
/************************************/
/* Navigation */
#navigation {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 500px;
}

#navigation nav {
    background-color: #fff;
    display: flex;
    height: 64px;
    padding: 0 20px;
    justify-content: space-between;
}

#navigation nav * {
    align-self: center;
    
}
#navigation nav .logo {
    font-weight: 700; 
}
#navigation nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    padding: 0;
}


#navigation nav ul li {
    /* outline: 1px black solid; */
}

#navigation nav button {
    width: 140px;
}
/************************************/
#navigation nav#nav-2 .logo {
    flex-grow: 0;
}
#navigation nav#nav-2 ul {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}
#navigation nav#nav-2 button {
    flex-grow: 0;
}
/************************************/
#navigation nav#nav-3 .logo {
    flex-grow: 0;
}
#navigation nav#nav-3 div {
    flex-grow: 1;
    display: flex;
}
#navigation nav#nav-3 button {
    flex-grow: 0;
}


#navigation nav#nav-3 div ul#ul-1 {
    flex-grow: 1;
    margin-left: 40px;
}
#navigation nav#nav-3 div ul#ul-2 {
    flex-grow: 1;
    justify-content: flex-end;
    margin-right: 40px;
}

/************************************/
#navigation nav#nav-4 ul {
    flex-grow: 1;
    width: 33%;
}
#navigation nav#nav-4 .logo {
    flex-grow: 1;
    width: 33%;
    display: flex;
    justify-content: center;
    margin: auto 0;
}
#navigation nav#nav-4 #left-btn-container {
    flex-grow: 1;
    width: 33%;
    justify-content: flex-end;
    display: flex;
}
#navigation nav#nav-4 #left-btn-container button {
    justify-content: flex-end;
}

