@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url("https://fonts.googleapis.com/css?family=Allura|Liu+Jian+Mao+Cao&display=swap");
html {
    display: flex;
}
body {
    font-family:'Roboto', 'Arial Narrow', Arial, sans-serif;
    background-color: #ddd;
    padding: 50px;
    color: #777;
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
}
.justin-clark {
    font-family: 'Allura', cursive;
    font-size: 7em;
    font-weight: 100;
    margin-bottom: -50px;
    color:#777
}
header h2 {
    margin-right: auto;
    margin-left: 0;
    margin-top: 10px;
}

.dark {
    background-color: black;
    color: white;
}

.light {
    background-color: white;
    color: black;
}

div.center-both {
    margin: auto 50%;
}

.figma-container {
    background-color: #eee;
    color: black;
    max-width: 1440px;
}

button {
    padding: 10px 40px;
    border: 1px solid black;
    border-radius: 4px;
}

a {
    color: black;
    text-decoration: none;
}

a span.carrot {
    font-size: xx-small;
    font-weight: 700;
    vertical-align: middle;
}
/************************************/
/* Buttons and Cards */
#buttons-and-cards {
    padding-bottom: 40px;
}

#buttons-and-cards .separator {
    padding-top: 40px;
    padding-left: 40px;
    display: flex;
    gap: 40px;
}

.card-blog {
    height: 436px;
    width: 270px;
    background: #fff;
}

.card-blog .media {
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-blog .rec3 {
    height: 64px;
    width: 64px;
    border-radius: 4px;
}

.card-blog .media-content {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    height: 166px;
}

.card-blog .media-content a {
    margin-top: auto;
    padding-bottom: 20px;
}

.card-pricing {
    height: 420px;
    width: 270px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-pricing .icon {
    height: 54px;
    width: 54px;
    border-radius: 50%;
}

.card-pricing .title {
    margin: 10px 0;
}
.card-pricing .subtitle {
   margin-bottom: 30px;
}
.card-pricing .feature {
    color: #888;
    margin-bottom: 10px;
}

.card-pricing button {
    margin-top: 100px;
}

.card-square {
    height: 502px;
    width: 370px;
}

.card-square .media {
    height: 370px;
}

.card-square .title {
    margin: 10px 0;
}
.card-square .subtitle {
   margin-bottom: 30px;
   font-weight: 400;
   font-size: 1em;
}
/************************************/
/* Navigation */
#navigation {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 500px;
}

#navigation nav {
    background-color: #fff;
    display: flex;
    height: 64px;
    padding: 0 20px;
    justify-content: space-between;
}

#navigation nav * {
    align-self: center;
    
}
#navigation nav .logo {
    font-weight: 700; 
}
#navigation nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    padding: 0;
}


#navigation nav ul li {
    /* outline: 1px black solid; */
}

#navigation nav button {
    width: 140px;
}
/************************************/
#navigation nav#nav-2 .logo {
    flex-grow: 0;
}
#navigation nav#nav-2 ul {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}
#navigation nav#nav-2 button {
    flex-grow: 0;
}
/************************************/
#navigation nav#nav-3 .logo {
    flex-grow: 0;
}
#navigation nav#nav-3 div {
    flex-grow: 1;
    display: flex;
}
#navigation nav#nav-3 button {
    flex-grow: 0;
}


#navigation nav#nav-3 div ul#ul-1 {
    flex-grow: 1;
    margin-left: 40px;
}
#navigation nav#nav-3 div ul#ul-2 {
    flex-grow: 1;
    justify-content: flex-end;
    margin-right: 40px;
}

/************************************/
#navigation nav#nav-4 ul {
    flex-grow: 1;
    width: 33%;
}
#navigation nav#nav-4 .logo {
    flex-grow: 1;
    width: 33%;
    display: flex;
    justify-content: center;
    margin: auto 0;
}
#navigation nav#nav-4 #left-btn-container {
    flex-grow: 1;
    width: 33%;
    justify-content: flex-end;
    display: flex;
}
#navigation nav#nav-4 #left-btn-container button {
    justify-content: flex-end;
}
/************************************/
/* Hero */
.figma-container:has(> .hero) {
    /*
    parentSelector:has(> childSelector)
    https://developer.mozilla.org/en-US/docs/Web/CSS/:has
    */
    background-color: #fff;
}
.hero {
    display: flex;
    justify-content: space-around;
    height: 700px;
    gap: 20px;
    background-color: #eee;
    margin-bottom: 40px;
}
.hero-content {
    height: 357px;
    width: 422px;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}
.hero-content .title {
    font-size: 3em;
    padding: 0;
    margin: 0;
    margin-bottom: 10%;

}
.hero-content .subtitle {
    font-size: 1.25em;
}
.hero-content .dark {
    flex-grow: 0;
    height: 60px;
    width: 200px;
    font-size: 1em;
}
.browser {
    margin: auto 0;
    height: 480px;
    width: 670px;
    border: 1px solid black;
    border-radius: 4px;
    padding-top: 6px;
    padding-left: 6px;
}
.browser-btn {
    border-radius: 50%;
    height: 12px;
    width: 12px;
    padding: 3px;
    margin-left: 6px;
}
/************************************/
#hero-2.hero {
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
#hero-2 .hero-content {
    align-items: center;
    height: 224px;
    width: 787px;
    margin-top: 8%;
}
#hero-2 .hero-content .title {
    text-align: center;
    margin-bottom: 0;
}
#hero-2 .hero-content .subtitle {
    text-align: center;
    width: 600px;
}
#hero-2 .hero-content .dark {
    align-self: center;
    width: 240px;
}
#hero-2 .browser {
    margin-bottom: -160px;
    width: 800px;
}
/************************************/
#hero-3 .hero-content {
    align-items: center;
    width: 787px;
    height: 50%;
    justify-content: space-around;
}
#hero-3 .hero-content .title {
    text-align: center;
    margin-bottom: 0;
    font-size: 4em;
}
#hero-3 .hero-content .subtitle {
    text-align: center;
    width: 440px;
}
#hero-3 .hero-content .dark {
    width: 280px;
    height: 64px;
}
/************************************/
/* Social Proof */
.figma-container:has(> .social) {
    /*
    parentSelector:has(> childSelector)
    https://developer.mozilla.org/en-US/docs/Web/CSS/:has
    */
    background-color: #fff;
}
#social {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 40px;

}
#social .social {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    width: 100%;
}
#social .subtitle {
    font-size: 1.5em;
    margin-top: 1.6em;
    margin-bottom: 1.8em;
}
#social .logos {
    width: 680px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
#social .logo {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
#social-1 {
    height: 268px;
}
/************************************/
#social-2 {
    height: 379px;
    justify-content: center;
}
#social-2 .title {
    font-size: 1.5em;
}
#social-2 .subtitle {
    font-size: 1.2em;
    margin-top: 2em;
    margin-bottom: 4em; 
    width: 619px;
    align-self: center;
}
#social-2 .logos {
    width: 908px;
    height: 40px;
}
#social-2 .logo {
    height: 40px;
    width: 120px;
    border-radius: 0;
}
/************************************/
#social-3 {
    height: 400px;
    justify-content: center;
}
#social-3 .title {
    font-size: 1.5em;
}
#social-3 .subtitle {
    font-size: 1.2em;
}
#social-3 .logos {
    width: 908px;
    height: 40px;
    width: 80px;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em; 
}
/************************************/
/* Features Left */
.figma-container:has(> .features) {
    /*
    parentSelector:has(> childSelector)
    https://developer.mozilla.org/en-US/docs/Web/CSS/:has
    */
    background-color: #fff;
}
#features {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
#features .features {
    display: flex;
    background-color: #eee;
    justify-content: space-between;
    align-items: center;
}
#features .content {
    height: 243px;
    width: 422px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}
#features .title {
    font-size: 1.5em;
    font-weight: 700;
}
#features .subtitle {
    font-size: 1.3em;
    width: 422px;
}
#features button {
    font-size: 1em;
    height: 60px;
    width: 200px;
}
.features .media {
    height: 600px;
    width: 720px;
    display: flex;
}
.features .media-background {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin: 0 auto;
}
.features .media-object {
    height: 360px;
    width: 320px;
    border-radius: 4px;
}
/************************************/
#features-2.features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
}
#features-2 .content {
    height: 315px;
    width: 457px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}
#features-2 .title {
    font-size: 1.3em;
}
#features-2 .subtitle {
    margin-top: 1.2em;
    margin-bottom: 1.4em;
}
#features-2 .media-object {
    height: 360px;
    width: 480px;
    border-radius: 4px;
    border: 1px solid black;
}
#features-2 ul {
    font-size: 1.4em;
    margin-left: -40px;    
}
#features-2 li {
    padding-bottom: 1em;
}
/************************************/
#features-3.features {
    height: 600px;
    display: flex;
    justify-content: space-around;
}
#features-3 .content {
    width: 472px;
    height: 258px;
    margin: 0;
}
#features-3 .title {
    font-weight: 500;
    font-size: 1.8em;
}
#features-3 .subtitle {

    font-size: 1.05em;
}
#features-3 .customer-container {
    display: flex;
}
#features-3 .customer-quote {
    color: #888;
    font-size: 0.9em;
    margin-top: 2em;
}
#features-3 .customer-info {
    align-self: center;
    margin-left: 8px;
}
#features .logos {
    width: 24px;
    height: 24px;
}
#features .logo {
    height: 24px;
    width: 24px;
    border-radius: 50%;
}
#features-3 .media {
    height: 286px;
    width: 491px;
    position: relative;
}
#features-3 .media-1, 
#features-3 .media-2 {
    width: 400px;
    height: 232px;
    position: absolute;
}
#features-3 .media-1 {
    bottom: 0;
    left: 0;
    z-index: 1;
}
#features-3 .media-2 {
    top: 0;
    right: 0;
    z-index: 0;
}
/************************************/
/* Features Right */
.features-right .features {
    flex-direction: row-reverse;
}
/************************************/
/* CTA */
.figma-container:has(> .cta) {
    background-color: #fff;
}
.cta {
    height: 500px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    justify-content: space-around;
}
.cta-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 243px;
    width: 422px;
}
.cta-content .title {
    font-size: 1.5em;
    font-weight: 600;
}
.cta-content .subtitle {
    font-size: 1.3em;
    text-align: center;
    margin-top: 1em;
}
.cta-content button {
    height: 60px;
    width: 200px;
    font-size: 1.1em;
}
/************************************/
#cta-2 {
    height: 240px;
}
#cta-2 .cta-content {
    height: 90px;
    width: 307px;
}
#cta-2 .cta-content .title {
    font-size: 2em;
    margin: 0;
    padding: 0;
}
#cta-2 .cta-content .subtitle {
    font-size: 2em;
    margin: 0;
    padding: 0;
}
#cta-2 .cta-buttons {

    display: flex;
    gap: 20px;
}
#cta-2 .cta-buttons button {
    font-size: 1em;
    height: 48px;
    width: 200px;
}
/************************************/
#cta-3 {
    height: 568px;
}
#cta-3 input {
    height: 64px;
    width: 360px;
    border: 1px solid black;
    border-radius: 4px;
    padding-left: 2em;
    font-size: 1.2em;
    box-sizing: border-box;
    /*
    The box-sizing property allows us to include the padding 
    and border in an element's total width and height.
    https://www.w3schools.com/csS/css3_box-sizing.asp
    */
    margin-bottom: 0.6em;
}
#cta-3 button {
    height: 64px;
    width: 360px;
    border: 1px solid black;
    border-radius: 4px;
    margin-top: 0.5em;
}
#cta-3 .title {
    font-weight: 400;
    font-size: 1.2em;
    margin-bottom: 2.2em;
}
/************************************/
/* Footer */
.figma-container:has(> .footer) {
    background-color: #fff;
}
#footer-1 {
    height: 380px;
    background-color: #eee;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-bottom: 40px;
    justify-content: space-around;
}
#footer-1 .website-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
}
#footer-1 .logo {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 0.2em;
}
#footer-1 .subtitle {
    font-size: 1em;
    text-align: center;
}
#footer-1 .subtitle p span {
    margin-left: -8px;
}
#footer-1 .footer-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#footer-1 li {
    margin-bottom: 1.2em;
}
#footer-1 ul {
    margin: 0;
    margin-top: 2.2em;
    padding: 0;
    list-style-type: none;
}
#footer-1 #product-links,
#footer-1 #features-links,
#footer-1 #resources-links,
#footer-1 #company-links 
{
    margin-left: 8em;
}
/************************************/
#footer-2 {
    height: 410px;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    justify-content: space-around;
}
#footer-2 .links {
    display: flex;
    justify-content: space-between;
    gap: 7em;
    align-items: flex-start;
    margin-top: 5em;
    width: 70%;
}
#footer-2 .logo {
    font-weight: 700;
    font-size: 1.5em;
}
#footer-2 .links .left-links,
#footer-2 .links .right-links {
    width: 33%;
}
#footer-2 .links ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    gap: 5em;
    font-weight: 600;
    font-size: 0.8em;
    margin: 0;
    padding: 0;
}
#footer-2 hr {
    border-bottom: 1px solid #777;
    width: 80%;
}
#footer-2 .social-media {
    height: 40px;
    display: flex;
    gap: 1em;
}
#footer-2 .social-media .logo {
    height: 40px;
    width: 40px;
    border: 1px solid black;
    border-radius: 50%;
}
#footer-2 .copy .subtitle {
    display: flex;
    gap: 0.5em;
}
/************************************/
.section,
#buttons-and-cards,
#navigation,
#hero,
#social,
#features,
#cta,
#footer-1,
#footer-2
{
    /* display: none; */
}
/************************************/
/************************************/
/************************************/
/* REMOVE RULERS */
.ruler {
    position: absolute;
    width:50%;
    height: 300px;
    background: rgba(0, 255, 0, 0.315);
    top: 0;
    left: 0;
}
.ruler-2 {
    position: absolute;
    width:50%;
    height: 300px;
    background: rgba(0, 255, 0, 0.345);
    bottom: 0;
    right: 0;
}
/************************************/
/************************************/
/************************************/
#footer-3 {
position: relative;
border: 1px solid red;

    width: 100%;
    height: 380px;
    background: #eeeeee2c;
    display: flex;
    justify-content: space-around;
}

.left-side {
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.right-side {
    width: 50%;
    display: flex;
}

.right-side-content {
    padding-left: 4em;

}

#footer-2 .logo {
    font-weight: 700;
    font-size: 1.5em;
}

.blog-post {
    height: 158px;
    width: 370px;

border: 1px solid red;   
}
.links-right {
    height: 174px;
    width: 221px;
    display: flex;
    justify-content: space-between;

border: 1px solid red;
}
.links-right ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
